DB_ENGINE=postgres
DB_NAME=startup_db
DB_USER=startup_user
DB_PASSWORD=startup_password

DB_HOST=localhost  #for .env
DB_HOST=db         #for .env.docker

DB_PORT=5432
DEBUG=1


# MongoDB 
MONGO_HOST=localhost  # or 'mongodb' for Docker
MONGO_PORT=27017
MONGO_DB_NAME=startup_gateway

# Redis
REDIS_URL=redis://localhost:6379/0  # or 'redis://redis:6379/0' for Docker

# Django
SECRET_KEY=your_secret_key_here

APP_BASE_URL=http://localhost:8000
DEFAULT_FROM_EMAIL=no-reply@example.com
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend