repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  # for some inexplicable reason pre-commit hooks have different versioning to pre-commit
  rev: v4.5.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/psf/black
  rev: 26.1.0
  hooks:
    - id: black
- repo: https://github.com/pycqa/pylint
  rev: v4.0.4
  hooks:
    - id: pylint
